---
layout: default
title: blog
---

<div class="blog-list-page">
    <div class="header">
        <h2>Our Blog</h2>
        <h3>Articles and Church News from our Pastor and Staff</h3>
    </div><!--/header-->
    <div class="blog-listings">
        {% for post in site.posts %}

        <div class="blog-entry">
        {% if post.featured %}
            <img src="{{ post.featured }}" alt="" class="entry-image">
        {% else %}
            <img src="http://storage.biblebaptistmattoon.org/media/blog-default.jpg" alt="" class="entry-image">
        {% endif %}
            <div class="entry-text">
            <div class="entry-header">
                <h3><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h3>
                <p class="description"><strong>Posted On:</strong> {{ post.date | date: "%b %-d, %Y" }} • <strong>Author:</strong> {{post.author}} • <strong>Category:</strong> {% for item in post.categories %}{{item}} {%endfor%}</p>
            </div><!--/entry-text-->
            <div class="entry-description">
                <p>{{ post.excerpt }}</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="button">Read More</a>
            </div><!--/entry-description-->
            </div><!//entry-text-->
        </div><!--/blog-entry-->
        {% endfor %}
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div><!--/blog-listings-->
</div><!--/blog-list-page-->